.container {
  max-width: 1200px;
  margin: 10px auto;
  padding: 0 15px;
}
.button {
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  min-width: 64px;
  border-radius: 4px;
  transition: all 300ms;
  cursor: pointer;
}
button.secondary:disabled {
  cursor: default;
  color: rgb(144, 202, 249);
  border: 1px solid rgba(144, 202, 249, 0.5);
}
button.primary {
  padding: 6px 36px;
  color: rgba(0, 0, 0, 0.87);
  background-color: rgb(144, 202, 249);
  border: 1px solid rgb(144, 202, 249);
}
button.primary:hover {
  background-color: #fff;
}
button.secondary {
  padding: 6px 16px;
  transition: all 300ms;
  border: 1px solid #000;
  color: rgba(0, 0, 0, 0.87);
}
.task-items {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 60px;
}
.task-item {
  border: 1px solid #000;
  padding: 20px;
  text-align: left;
  position: relative;
}
.task-item .close {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 300ms;
}
.task-item .close:hover {
  background-color: #ec5353;
}
.task-item div {
  margin-bottom: 15px;
}
.form {
  max-width: 400px;
  margin: 15px auto;
}
.form .items {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form .items label {
  font-size: 14px;
  margin-bottom: 4px;
  color: #696969
}
.form select {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 0;
}
.form input {
  border: none;
  border-bottom: 1px solid #000;
  padding: 5px 0;
}
.form input:focus-visible, .form select:focus-visible {
  outline: none;
}
.actions {
  display: flex;
  justify-content: space-between;
}
.message {
  position: fixed;
  top: 0;
  right: 040px;
  min-width: 400px;
  padding: 15px;
  margin: 15px auto;
}
.message-error {
  background-color:#ec5353;
}
.message-success {
  background-color:rgb(144, 202, 249);
}
